
defaults:
  env:
    id: cartpole
    max_episode_steps: 200
    label_fn: masa.examples.dummy:label_fn
    cost_fn: masa.examples.dummy:cost_fn
    reward_shaping: none

  constraint:
    type: cmdp
    cost_budget: 20.0
    alpha: 0.01
    avoid_label: unsafe
    reach_label: target
    dfa: masa.examples.dummy:dfa

  q_learning:
    alpha: 0.1
    gamma: 0.9
    exploration: boltzmann
    boltzmann_temp: 0.05
    initial_epsilon: 1.0
    final_epsilon: 0.1
    epsilon_decay: linear
    epsilon_decay_frames: 10000

  q_learning_lambda:
    alpha: 0.1
    cost_lambda: 1.0
    gamma: 0.9
    exploration: boltzmann
    boltzmann_temp: 0.05
    initial_epsilon: 1.0
    final_epsilon: 0.1
    epsilon_decay: linear
    epsilon_decay_frames: 10000

  sem:
    ql_alpha: 0.1
    ql_gamma: 0.9
    dm_alpha: 0.05
    dm_gamma: 0.95
    cm_alpha: 0.05
    cm_gamma: 0.999
    r_min: 0.0
    exploration: boltzmann
    boltzmann_temp: 0.05
    initial_epsilon: 1.0
    final_epsilon: 0.1
    epsilon_decay: linear
    epsilon_decay_frames: 10000

  lcrl:
    alpha: 0.1
    gamma: 0.9
    r_min: 0.0
    exploration: boltzmann
    boltzmann_temp: 0.05
    initial_epsilon: 1.0
    final_epsilon: 0.1
    epsilon_decay: linear
    epsilon_decay_frames: 10000

  recreg:
    task_alpha: 0.1
    task_gamma: 0.9
    safe_alpha: 0.1
    safe_gamma: 0.9
    model_impl: model-free
    model_checking: sample
    samples: 512
    horizon: 10
    step_wise_prob: 0.01
    model_prior: identity
    exploration: boltzmann
    boltzmann_temp: 0.05
    initial_epsilon: 1.0
    final_epsilon: 0.1
    epsilon_decay: linear
    epsilon_decay_frames: 10000

  run:
    seed: 0
    total_timesteps: 100000
    eval_every: 0
    eval_episodes: 10
    log_every: 1000
    prefill: 0
    save_every: 0
    stats_window_size: 100
    logdir: runs/masa
    device: auto
    verbose: 0
    
colour_grid_world:
  env:
    id: colour_grid_world
    max_episode_steps: 100
    label_fn: masa.envs.tabular.colour_grid_world:label_fn
    cost_fn: masa.envs.tabular.colour_grid_world:cost_fn

  constraint:
    type: cmdp
    cost_budget: 1

  run:
    total_timesteps: 25000
    eval_every: 1000
    eval_episodes: 10
    log_every: 1000
    stats_window_size: 10
    logdir: runs/masa
    device: cpu

colour_bomb_grid_world:
  env:
    id: colour_bomb_grid_world
    max_episode_steps: 100
    label_fn: masa.envs.tabular.colour_bomb_grid_world:label_fn
    cost_fn: masa.envs.tabular.colour_bomb_grid_world:cost_fn
  
  constraint:
    type: ltl_dfa
    dfa: masa.examples.colour_bomb_grid_world.property_2:dfa

  run:
    total_timesteps: 100000
    eval_every: 1000
    eval_episodes: 10
    log_every: 1000
    stats_window_size: 100
    logdir: runs/masa
    device: cpu

colour_bomb_grid_world_v2:
  env:
    id: colour_bomb_grid_world_v2
    max_episode_steps: 250
    label_fn: masa.envs.tabular.colour_bomb_grid_world_v2:label_fn
    cost_fn: masa.envs.tabular.colour_bomb_grid_world_v2:cost_fn
  
  constraint:
    type: ltl_dfa
    dfa: masa.examples.colour_bomb_grid_world.property_3:dfa

  run:
    total_timesteps: 250000
    eval_every: 5000
    eval_episodes: 10
    log_every: 5000
    stats_window_size: 100
    logdir: runs/masa
    device: cpu

colour_bomb_grid_world_v3:
  env:
    id: colour_bomb_grid_world_v3
    max_episode_steps: 250
    label_fn: masa.envs.tabular.colour_bomb_grid_world_v3:label_fn
    cost_fn: masa.envs.tabular.colour_bomb_grid_world_v3:cost_fn
  
  constraint:
    type: cmdp
    cost_budget: 1

  run:
    total_timesteps: 250000
    eval_every: 5000
    eval_episodes: 10
    log_every: 5000
    stats_window_size: 100
    logdir: runs/masa
    device: cpu

mini_pacman:
  env:
    id: mini_pacman
    max_episode_steps: 100
    label_fn: masa.envs.tabular.mini_pacman:label_fn
    cost_fn: masa.envs.tabular.mini_pacman:cost_fn

  constraint:
    type: cmdp
    cost_budget: 1

  run:
    total_timesteps: 250000
    eval_every: 5000
    eval_episodes: 10
    log_every: 5000
    stats_window_size: 100
    logdir: runs/masa
    device: cpu

pacman:
  env:
    id: pacman
    max_episode_steps: 1000
    label_fn: masa.envs.tabular.pacman:label_fn
    cost_fn: masa.envs.tabular.pacman:cost_fn

  constraint:
    type: cmdp
    cost_budget: 1

  run:
    total_timesteps: 10000000
    eval_every: 100000
    eval_episodes: 10
    log_every: 100000
    stats_window_size: 100
    logdir: runs/masa
    device: cpu

bridge_crossing:
  env:
    id: bridge_crossing
    max_episode_steps: 400
    label_fn: masa.envs.tabular.bridge_crossing:label_fn
    cost_fn: masa.envs.tabular.bridge_crossing:cost_fn

  constraint:
    type: cmdp
    cost_budget: 1

  run:
    total_timesteps: 100000
    eval_every: 5000
    eval_episodes: 10
    log_every: 5000
    stats_window_size: 100
    logdir: runs/masa
    device: cpu

bridge_crossing_v2:
  env:
    id: bridge_crossing_v2
    max_episode_steps: 400
    label_fn: masa.envs.tabular.bridge_crossing_v2:label_fn
    cost_fn: masa.envs.tabular.bridge_crossing_v2:cost_fn

  constraint:
    type: cmdp
    cost_budget: 1

  run:
    total_timesteps: 100000
    eval_every: 5000
    eval_episodes: 10
    log_every: 5000
    stats_window_size: 100
    logdir: runs/masa
    device: cpu

media_streaming:
  env:
    id: media_streaming
    max_episode_steps: 40
    label_fn: masa.envs.tabular.media_streaming:label_fn
    cost_fn: masa.envs.tabular.media_streaming:cost_fn

  constraint:
    type: cmdp
    cost_budget: 1

  run:
    total_timesteps: 25000
    eval_every: 1000
    eval_episodes: 10
    log_every: 1000
    stats_window_size: 100
    logdir: runs/masa
    device: cpu
