name: ci

on: 
  push:
    branches: 
      - "**"
  pull_request:
    branches:
      - "**"
    types: [opened, synchronize, edited, reopened, labeled, ready_for_review]

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        std: [23]

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: recursive

    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true

    - name: Install the project
      run: uv sync --group dev

    - name: Run tests
      run: uv run pytest -v
